@page "/runs/view/{CollectionFileName?}"

<div id="run">
    <div id="run-title">@_run.Title</div>
    <div id="run-time">@_run.Time.ToLocalTime()</div>
    @*TODO Replace answer with question in that hierarchy.*@
    <div id="run-answers">
        @foreach (var answer in _run.Answers)
        {
            <div class="asnwer" @key="answer">
                <div class="answer-question-title">@answer.Question.Title</div>
                <div class="answer-question-description">@answer.Question.Description</div>
                @if (answer.HasBeenSkipped)
                {
                    <div class="answer-selected-answer">The question has been skipped.</div>
                }
                else
                {
                    @foreach (var item in answer.Answers)
                    {
                        @if (answer is ExaminationMappingAnswer mappingAnswer)
                        {

                        }
                        else
                        {
                            <div class="selected-answer">Answer: @answer.Answers.Content</div>
                            <div class="answer-points">Points: @answer.Answers.Points</div>
                        }
                    }
                }
                <div class="answer-span">Time spent on a question: @answer.AnswerSpan.TotalSeconds seconds</div>
            </div>
        }
    </div>
</div>
